.container {
    max-width: 70rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    text-align: center;
    font-size: x-large;
}