html, body {
  /* background-color: black; */
  color: #3e7dc2;
  padding: 0;
  margin: 2%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  text-align: center;
  color: #19b092;
}

h2 {
  color: #1D7985;
}

h3 {
  color: #1D7985;
}

a {
  color: #CF366C;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}